body{
	background-color: indigo;
	display: flex;
	justify-content: safe center;
	align-items: center;
	font-size: 17px;

}
main{
	background-color: red;
	width: 1200px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px 200px 200px 100px;
	grid-gap: 50px;

}
nav{
	background-color: hotpink;
	grid-column: 1/span 4;
	display: flex;
	justify-content: center;
	align-items: center;

}
.one{
	padding: 20px;
	font-size: 1.2em;
	text-decoration:none}
aside{
	background-color: darkgreen;
	grid-row: 2/span 2;
}
.box1{
	background-color: darkgrey;
}
.box2{
	background-color: cyan;
}
.box3{
	background-color: black;
}
.main-content{
	background-color: indianred;
	grid-column: 2/span 3;

}
footer{
	background-color: yellowgreen;
	grid-column: 1/-1;
}